<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<body>
		<!--Nav bar div-->
		<div th:fragment="nav_bar">
			<nav class="navbar navbar-expand-lg bg-dark navbar-dark">
				<!--Logout Form-->
				<form th:action="@{/logout}" method="POST" th:hidden="true" name="logoutForm">
					<input type="submit" />
				</form>
			
				<!--Nav bar Logo-->
				<a class="navbar-brand" th:href="@{/}">
					<img th:src="@{/images/ShopmeAdminSmall.png}" />
				</a>
				
				<!--Nav bar button - mobile responsive-->
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#topNavbar">
					<span class="navbar-toggler-icon"></span>
				</button>
				
				<!--Nav bar-->
				<div id="topNavbar" class="collapse navbar-collapse">
					<ul class="navbar-nav">
						<th:block sec:authorize="hasAuthority('Admin')">
							<li th:replace="fragments :: nav_link('/users', 'Users')" />
						</th:block>
						<th:block sec:authorize="hasAnyAuthority('Admin', 'Editor')">
							<li th:replace="fragments :: nav_link('/categories', 'Categories')" />
						</th:block>
						<th:block sec:authorize="hasAnyAuthority('Admin', 'Editor')">
							<li th:replace="fragments :: nav_link('/brands', 'Brands')" />
						</th:block>
						<th:block sec:authorize="hasAnyAuthority('Admin', 'Salesperson', 'Editor', 'Shipper')">
							<li th:replace="fragments :: nav_link('/products', 'Products')" />
						</th:block>
						<th:block sec:authorize="hasAnyAuthority('Admin', 'Assistant')">
							<li th:replace="fragments :: nav_link('/questions', 'Questions')" />
						</th:block>
						<th:block sec:authorize="hasAnyAuthority('Admin', 'Assistant')">
							<li th:replace="fragments :: nav_link('/reviews', 'Reviews')" />
						</th:block>
						<th:block sec:authorize="hasAnyAuthority('Admin', 'Salesperson')">
							<li th:replace="fragments :: nav_link('/customers', 'Customers')" />
						</th:block>
						<th:block sec:authorize="hasAnyAuthority('Admin', 'Salesperson')">
							<li th:replace="fragments :: nav_link('/shipping', 'Shipping')" />
						</th:block>
						<th:block sec:authorize="hasAnyAuthority('Admin', 'Salesperson', 'Shipper')">
							<li th:replace="fragments :: nav_link('/orders', 'Orders')" />
						</th:block>
						<th:block sec:authorize="hasAnyAuthority('Admin', 'Salesperson')">
							<li th:replace="fragments :: nav_link('/report', 'Sales Report')" />
						</th:block>
						<th:block sec:authorize="hasAnyAuthority('Admin', 'Editor')">
							<li th:replace="fragments :: nav_link('/articles', 'Articles')" />
						</th:block>
						<th:block sec:authorize="hasAnyAuthority('Admin', 'Editor')">
							<li th:replace="fragments :: nav_link('/menus', 'Menus')" />
						</th:block>
						<th:block sec:authorize="hasAuthority('Admin')">
							<li th:replace="fragments :: nav_link('/settings', 'Settings')" />
						</th:block>
						<li>
							<span class="fas fa-user fa-2x icon-silver"></span>
						</li>
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" data-toggle="dropdown" 
								th:href="@{/account}"
								sec:authentication="principal.fullName"></a>
							<div class="dropdown-menu">
								<a id="logoutLink" class="dropdown-item" th:href="@{/logout}">Logout</a>
							</div>
						</li>
					</ul>
				</div>
			</nav>
		</div>
	</body>
</html>