<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: page_head('Users - Shopme Admin')"/>

<body>

	<!--Nav bar div-->
	<div th:replace="navigation :: nav_bar"/>
	
	<div class="container-fluid">
		<div>
			<h2>Manage Users</h2>
			
			<!--User Actions-->
			<a th:href="@{/users/new}" class="fas fa-user-plus fa-2x icon-blue mr-2"></a>
			<a th:href="@{/users/export/csv}" class="fas fa-file-csv fa-2x icon-green mr-2"></a>
			<a th:href="@{/users/export/excel}" class="fas fa-file-excel fa-2x icon-red mr-2"></a>
			<a th:href="@{/users/export/pdf}" class="fas fa-file-pdf fa-2x icon-orange mr-2"></a>
		</div>
		
		<!--Success alert message-->
		<div th:if="${message != null}" class="alert alert-success text-center">
			[[${message}]]
		</div>
		
		<!--Search form-->
		<div>
			<form th:action="@{/users/page/1}" class="form-inline m-3">
				<input type="hidden" name="sortField" th:value="${sortField}" />
				<input type="hidden" name="sortDir" th:value="${sortDir}" />

				Filter: &nbsp;
				<input type="search" name="keyword" th:value="${keyword}" class="form-control" required />
				&nbsp;&nbsp;
				<button type="submit" value="Search" class="btn btn-primary">
					<i class="fas fa-search"></i>
				</button>
				&nbsp;&nbsp;
				<button type="button" value="Clear" class="btn btn-secondary" onclick="clearFilter()">
					<i class="fas fa-backspace"></i>
				</button>
			</form>
		</div>
		
		<!--User's data table-->
		<div class="full-details">
			<table class="table table-bordered table-striped table-hover table-responsive-xl">
				<thead class="thead-dark">
					<tr>
						<th class="hideable-column">
							<th th:replace="fragments :: column_link('id', 'User ID', 'tag')" />
						</th>
						<th>Photos</th>
						<th class="hideable-column">
							<th th:replace="fragments :: column_link('email', 'E-mail', 'tag')" />
						</th>
						<th th:replace="fragments :: column_link('firstName', 'First Name', 'none')" />
						<th th:replace="fragments :: column_link('lastName', 'Last Name', 'none')" />
						<th>Roles</th>
						<th th:replace="fragments :: column_link('enabled', 'Enabled', 'none')" />
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr th:replace="fragments :: full_detail_tr_link()" />
				</tbody>
			</table>
		</div>
		
		<!--User data table - mobile responsive-->
		<div class="less-details">
			<div th:replace="fragments :: less_detail_div_link()" />
		</div>
	</div>
	
	<!--Pagination label-->
	<div class="text-center m-1" th:if="${totalItems > 0}">
		<span>Showing # [[${startCount}]] to [[${endCount}]] of [[${totalItems}]]</span>
	</div>
	
	<!--No user found annotation-->
	<div class="text-center m-1" th:unless="${totalItems > 0}">
		<span>No Users Found</span>
	</div>
	
	<!--Pages nav bar-->
	<nav th:if="${totalPages > 1}">
		<ul class="pagination justify-content-center flex-wrap">
			<li th:class="${currentPage > 1 ? 'page-item' : 'page-item disabled'}">
				<a th:replace="fragments :: page_link(1, First)" />
			</li>
			<li th:class="${currentPage > 1 ? 'page-item' : 'page-item disabled'}">
				<a th:replace="fragments :: page_link(${currentPage - 1}, Previous)" />
			</li>
			<li th:class="${currentPage != i ? 'page-item' : 'page-item active'}" th:each="i : ${#numbers.sequence(1, totalPages)}">
		    	<a th:replace="fragments :: page_link(${i}, ${i})" />
		    </li>
		    <li th:class="${currentPage < totalPages ? 'page-item' : 'page-item disabled'}">
		    	<a th:replace="fragments :: page_link(${currentPage + 1}, Next)" />
		    </li>
		    <li th:class="${currentPage < totalPages ? 'page-item' : 'page-item disabled'}">
		    	<a th:replace="fragments :: page_link(${totalPages}, Last)" />
		    </li>
		  </ul>
		</nav>
		
	<!--Confirmation dialog-->
	<div class="modal fade text-center" id="confirmationDialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title" id="modalTitle">Delete Confirmation</h4>
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>

				<div class="modal-body">
					<span id="modalBody"></span>
				</div>

				<div class="modal-footer">
					<a id="yesBtn" class="btn btn-success" href="">Yes</a>
					<button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
				</div>
			</div>
		</div>
	</div>
	
	<!--Footer-->
	<div th:replace="fragments :: footer" />

	<script type="text/javascript">
		$(document).ready(function () {
			$(".link-delete").on("click", function (e) {
				e.preventDefault();

				link = $(this);
				userId = link.attr("userId");

				$("#yesBtn").attr("href", link.attr("href"));
				$("#modalBody").text("Are you sure you want to delete the user with ID [" + userId + "] ?");
				$("#confirmationDialog").modal();
			});
		});

		function clearFilter() {
			//let url = "[[@{'/users/page/1?sortField=' + ${sortField} + 'sortDir=' + ${sortDir}}]]";
			let url = "[[@{/users}]]";
			window.location.replace(url);
		}
	</script>
</body>

</html>